# https://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.rs]
indent_style = space
indent_size = 4

[*.go]
indent_style = space
indent_size = 4

[*.lock]
indent_style = unset
indent_size = unset
end_of_line = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
max_line_length = unset

[Makefile]
indent_style = tab
indent_size = 4

[*.md]
max_line_length = 100
